.crumina-sign-form {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    
    &.visible {
        opacity: 1;
    }
}

.password-eye-wrap {
    position: relative;

    .password-eye {
        text-decoration: none;
        font-size: 16px;
        color: #888da8;
        position: absolute;
        right: 15px;
        top: 19px;

        &:hover {
            color: darken(#888da8, 10%);
        }
    }
}